@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background-image: url("../recursos/fondoberry2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.TituloInicio {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: red;
  font-family: "Quicksand", sans-serif;
  background-color: #353535;
  margin-bottom: 0px; }

.TextoInicio {
  font-size: 30px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center; }

.TextoInicio2 {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center; }

/* Responsive index para pantallas de móviles; las imágenes tienen buena adaptación. */
@media screen and (max-width: 600px) {
  .TituloInicio {
    background-color: #353535; }
  .TextoInicio {
    font-size: 16px; }
  .TextoInicio2 {
    font-size: 16px; }
  .navbar {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .contenedor-imagenesmobile-index {
    display: block;
    /* Muestra el contenedor de imágenes solo en dispositivos móviles */ }
    .contenedor-imagenesmobile-index a {
      color: red;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; } }

.titulo-beneficios {
  font-family: "Permanent Marker", cursive;
  font-size: 80px;
  text-align: center;
  padding: 40px; }

.descuentos {
  font-size: 30px;
  text-align: center;
  list-style: none; }

.oferta {
  font-size: 30px;
  text-align: center;
  color: red; }

img {
  max-width: 100%;
  height: auto; }

/* responsive de beneficios, ajusta el texto a la pagina*/
@media screen and (max-width: 600px) {
  #beneficios {
    font-size: 30px; }
  .descuentos {
    font-size: 16px;
    list-style: none; }
  .oferta {
    font-size: 16px; } }

.gridContacto {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "SecciónContacto-1 SecciónContacto-2 SecciónContacto-2 SecciónContacto-2"
 "SecciónContacto-1 SecciónContacto-2 SecciónContacto-2 SecciónContacto-2"
 "SecciónContacto-1 SecciónContacto-2 SecciónContacto-2 SecciónContacto-2"
 "SecciónContacto-3 SecciónContacto-3 SecciónContacto-3 SecciónContacto-3"; }

.gridContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px; }

.SecciónContacto-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.SecciónContacto-2 {
  grid-column: 3 / span 2;
  grid-row: 1; }

.SecciónContacto-3 {
  grid-column: 1 / span 4;
  grid-row: 2; }

#contacto {
  font-size: 60px;
  text-align: center;
  grid-column: 1 / span 4;
  color: #b4b1b1; }

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  color: black; }

.contact-form h2 {
  font-size: 35px; }

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  box-sizing: border-box; }

.contact-form button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer; }

#cryptos {
  color: white;
  font-family: "Nabla", system-ui;
  font-size: 90px;
  text-align: center;
  padding: 30px; }

.gridCriptos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-items: center;
  margin: 0;
  padding: 40px;
  grid-template-areas: "bitcoin ethereum usdt"
 "usdc dai doge"
 "binance trx enjin"
 "monero kucoin chailink"; }

.bitcoin {
  grid-area: bitcoin; }

.ethereum {
  grid-area: ethereum; }

.usdt {
  grid-area: usdt; }

.usdc {
  grid-area: usdc; }

.dai {
  grid-area: dai; }

.doge {
  grid-area: doge; }

.binance {
  grid-area: binance; }

.trx {
  grid-area: trx; }

.enjin {
  grid-area: enjin; }

.monero {
  grid-area: monero; }

.kucoin {
  grid-area: kucoin; }

.chailink {
  grid-area: chailink; }

.cryptomonedas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px; }

.cryptomonedas {
  color: gainsboro; }

.panelCryptos h4 {
  text-align: center; }

/* esconde el texto de las imagenes y las achica para decoración y responsive */
@media screen and (max-width: 600px) {
  .cryptomonedas img {
    width: 100px; }
  .cryptomonedas p {
    display: none; } }

#cryptos {
  color: white;
  font-family: "Nabla", system-ui;
  font-size: 90px;
  text-align: center;
  padding: 30px; }

.gridCriptos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-items: center;
  margin: 0;
  padding: 40px;
  grid-template-areas: "bitcoin ethereum usdt"
 "usdc dai doge"
 "binance trx enjin"
 "monero kucoin chailink"; }

.bitcoin {
  grid-area: bitcoin; }

.ethereum {
  grid-area: ethereum; }

.usdt {
  grid-area: usdt; }

.usdc {
  grid-area: usdc; }

.dai {
  grid-area: dai; }

.doge {
  grid-area: doge; }

.binance {
  grid-area: binance; }

.trx {
  grid-area: trx; }

.enjin {
  grid-area: enjin; }

.monero {
  grid-area: monero; }

.kucoin {
  grid-area: kucoin; }

.chailink {
  grid-area: chailink; }

.cryptomonedas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px; }

.cryptomonedas {
  color: gainsboro; }

.panelCryptos h4 {
  text-align: center; }

/* esconde el texto de las imagenes y las achica para decoración y responsive */
@media screen and (max-width: 600px) {
  .cryptomonedas img {
    width: 100px; }
  .cryptomonedas p {
    display: none; } }

.MainCotizaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.cotizaciones {
  display: flex;
  flex-direction: column;
  align-items: center; }

.TituloCotizaciones {
  text-align: center; }

@media screen and (min-width: 600px) {
  .cotizaciones {
    width: 100%; } }

.gridResgistro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "registro login"; }

.login {
  grid-area: login; }

.registro {
  grid-area: registro; }

.titulo-registro {
  font-size: 60px;
  text-align: center;
  color: white; }

.registro {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  color: red;
  box-sizing: border-box;
  margin: auto; }

.registro h2 {
  font-size: 18px;
  margin-bottom: 10px; }

.registro input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; }

.registro input[type="submit"] {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer; }

@media screen and (max-width: 600px) {
  .gridRegistro {
    flex-direction: column-reverse; } }

.gridResgistro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "registro login"; }

.login {
  grid-area: login; }

.registro {
  grid-area: registro; }

.titulo-registro {
  font-size: 60px;
  text-align: center;
  color: white; }

.registro {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  color: red;
  box-sizing: border-box;
  margin: auto; }

.registro h2 {
  font-size: 18px;
  margin-bottom: 10px; }

.registro input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box; }

.registro input[type="submit"] {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer; }

@media screen and (max-width: 600px) {
  .gridRegistro {
    flex-direction: column-reverse; } }

.grid {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Sección-1 Sección-2 Sección-2 Sección-2"
 "Sección-1 Sección-2 Sección-2 Sección-2"
 "Sección-1 Sección-2 Sección-2 Sección-2"
 "Sección-3 Sección-3 Sección-3 Sección-3"; }

.Sección-1 {
  grid-area: Sección-1;
  display: flex;
  align-items: center;
  justify-content: center; }

.Sección-2 {
  grid-area: Sección-2; }

.Sección-3 {
  grid-area: Sección-3;
  display: flex;
  align-items: center;
  justify-content: center; }

#BodyRoboPerdida {
  background-color: black; }

#perdida-robo {
  font-size: 50px;
  color: red;
  text-align: center; }

.BotonesPerdidaRobo button {
  width: 250px;
  padding: 50px;
  display: flexbox;
  align-items: center; }

#TextoPerdidaRobo {
  color: white;
  font-size: 20px; }

.derechosreservados {
  color: white; }

footer {
  text-align: center; }

@media screen and (max-width: 600px) {
  .grid {
    display: block; }
  .Sección-1,
  .Sección-2,
  .Sección-3 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
  .BotonesPerdidaRobo button {
    width: 100%;
    margin-bottom: 10px; }
  .card {
    display: none; } }

.TituloTarjeta {
  font-size: 60px;
  text-align: center;
  padding: 50px;
  font-family: "Nunito", sans-serif; }
  .TituloTarjeta a {
    color: red;
    text-decoration: none; }
    .TituloTarjeta a:hover {
      color: white; }

.PediTuBerrycard2 {
  text-align: center;
  padding-top: 10px; }
  .PediTuBerrycard2 a {
    color: red; }

.contenedor-imagenesmobile-index {
  display: none; }

/* responsive de beneficios, ajusta el texto a la pagina*/
@media screen and (max-width: 600px) {
  .TituloTarjeta {
    font-size: 24px; } }

.TarjetaMasterBerry {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor-imagenes {
  display: block;
  /* Muestra el contenedor de imágenes solo en dispositivos móviles */ }

.footer {
  background-color: #000;
  padding: 20px;
  color: red;
  text-align: center; }
  .footer .RedesSociales {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .RedesSociales img {
      max-width: 40px;
      margin: 0 50px; }
  .footer ul {
    list-style: none;
    padding: 0; }
    .footer ul li {
      margin-bottom: 10px; }
  .footer .derechosreservados {
    margin-top: 20px; }
  .footer .LogoFooter {
    width: 100px; }

.RedesSociales {
  text-align: center; }

@media screen and (max-width: 600px) {
  .RedesSociales img {
    max-width: 10px;
    /* Reducir el tamaño máximo de las imágenes en dispositivos móviles */
    margin: 0 5px;
    /* Reducir el margen entre las imágenes en dispositivos móviles */ } }

.navbar {
  padding: 0%; }
