#cryptos {
    color: white;
    font-family: "Nabla", system-ui;
    font-size: 90px;
    text-align: center;
    padding: 30px;
}

.gridCriptos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    margin: 0;
    padding: 40px;
}

.bitcoin,
.ethereum,
.usdt,
.usdc,
.dai,
.doge,
.binance,
.trx,
.enjin,
.monero,
.kucoin,
.chailink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 20rem;
    height: 30rem;
}

.card-body {
    background-color: #343a40;
    color: white;
}

.card-body p {
    margin-top: 1rem;
}

.panelCryptos h4 {
    text-align: center;
    margin-top: 2rem;
}

.imagenes_criptos_mobile {
    display: none;
    /* Oculta las criptos por defecto */
}
@media (max-width: 600px) {
    .imagenes_criptos_mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        background-color: #333; /* Fondo gris oscuro */
        padding: 20px;
        margin: 0 auto;
        max-width: 1200px; /* Ajusta el ancho máximo según tu preferencia */

        article {
            width: calc(100% - 20px); /* Ocupa el 100% del ancho disponible */
            background-color: #fff; /* Fondo blanco */
            border-radius: 8px;
            padding: 20px;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
            }

            h2 {
                margin-top: 10px;
                font-size: 18px;
                color: #333; /* Color del texto */
            }
        }
    }
}

