.navbar {
    padding: 0px;
    margin: 0px;
}

.titulo-beneficios{
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 40px;
    background-color: black;
    margin-bottom: 30px;
    color: red;
}

.imagenes_descuentos {
    display: none;
}


@media (max-width: 600px) {
    .titulo-beneficios {
        font-size: 40px;
        text-decoration: solid;
    }

    .col {
        display: none;
    }

    .imagenes_descuentos {
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 20px;
    }

    .imagenes_descuentos article {
        width: calc(100% - 20px); /* Ancho completo para pantallas pequeñas */
        margin-bottom: 20px; /* Espacio inferior entre las cajas */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imagenes_descuentos article img {
        max-width: 100%;
    }
}
