#cryptos {
    color: white;
    font-family: "Nabla", system-ui;
    font-size: 90px;
    text-align: center;
    padding: 30px;
}

.gridCriptos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    margin: 0;
    padding: 40px;
}

.bitcoin,
.ethereum,
.usdt,
.usdc,
.dai,
.doge,
.binance,
.trx,
.enjin,
.monero,
.kucoin,
.chailink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 20rem;
    height: 30rem;
}

.card-body {
    background-color: #343a40;
    color: white;
}

.card-body p {
    margin-top: 1rem;
}

.panelCryptos{
    text-align: center;
    margin-top: 2rem;
}
.textoCriptos{
    background-color: rgba(0, 0, 0, 0.618);
    border: red 2px;
    color: red;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 2px;
    padding: 2px;
}

.imagenes_criptos_mobile {
    display: none; /* Oculta las criptos por defecto */
}

@media (max-width: 600px) {
    .imagenes_criptos_mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        background-color: #333;
        padding: 10px; /* Reducir el padding para compensar */
        margin: 0 auto;
        max-width: calc(100% - 20px); /* Ajustar el ancho máximo */

        article {
            width: calc(50% - 20px); /* Ajustar el ancho de los artículos */
            background-color: #434242;
            border-radius: 8px;
            border: #ff0000;
            padding: 20px;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;

            img {
                max-width: 100%;
                height: auto;
            }

            h2 {
                margin-top: 10px;
                font-size: 18px;
                color: #ff0000;
            }
        }
    }
}

