.TituloTarjeta a {
    color: red; 
    text-decoration: none; 
}

.TituloTarjeta a:hover {
    color: rgb(255, 255, 255); 
}
.TituloTarjeta{
    text-align: center;
}

.PediTuBerrycard2{
    text-align: center;
    padding-top: 100px;
}
.PediTuBerrycard2 a{
    color: red;
}
.infoberrycard {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* responsive de beneficios, ajusta el texto a la pagina*/
@media screen and (max-width: 600px) {
    .TituloInicio {
        font-size: 24px;
    }
}
.TarjetaMasterBerry{
 width: 500px; 
 display: flex;
 justify-content: center;
 align-items: center;   
}