body {
    background-image: url('../recursos/fondoberry2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.TituloInicio {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: red;
    font-family: "Nunito Sans", sans-serif;
    background-color: #000000;
    margin-bottom: 0px;
}

.TextoInicio {
    font-size: 30px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.TextoInicio2 {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.container-cards {
    display: block;
    text-align: center;
}

.imagenes_index_mobile {
    display: none;
}

/* Responsive index para pantallas de móviles; las imágenes tienen buena adaptación. */
@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .TituloInicio {
        font-size: 40px;
    }

    .TextoInicio,
    .TextoInicio2 {
        font-size: 16px;
    }

    .col {
        display: none;
    }

    .imagenes_index_mobile {
        padding-top: 100px;
        display: flex;
        flex-direction: column; /* Cambia la dirección de flexión a columna */
        justify-content: center;
        gap: 10px;
        margin: 20px;
    }
    .imagenes_index_mobile a{
        color: #000000;
    }
    .imagenes_index_mobile article {
        width: calc(100% - 20px); /* Ajusta el ancho de los artículos al 100% */
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: rgba(248, 75, 75, 0.819);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .imagenes_index_mobile article img {
        max-width: 100%;
    }
}