.MainCotizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.BTC_tiemporeal{
    text-align: center;
}
.cotizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TituloCotizaciones{
    text-align: center;
}
@media (max-width: 600px) {
    .tradingview-widget-container {
      max-width: 90%; /* Hace que el contenedor del iframe ocupe todo el ancho disponible */
    }
    #BTC_Grafica_en_Tiempo_Real{
        max-width: 90%;
    }
  }
