.titulo-beneficios {
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    text-align: center;
    padding: 40px;

    @media screen and (max-width: 600px) {
        font-size: 30px;
    }
}

.descuentos {
    font-size: 30px;
    text-align: center;
    list-style: none;

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

.oferta {
    font-size: 30px;
    text-align: center;
    color: red;

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

img {
    max-width: 100%;
    height: auto;
}
